<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Usuário</title>
</head>
<body>
    <form action="listar"><button>Consultar</button></form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="/excluir" method="POST">
        <label>
            <input type="email" name="email" placeholder="Digite o email do usuário">
        </label>
        <label>
            <button type="submit">Excluir</button>
        </label>
    </form>
</body>
</html>
